<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Contactanos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div>
    <mat-form-field appearance="fill">
    <mat-label>Email: </mat-label>
    <input matInput>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field appearance="fill">
    <mat-label>Asunto: </mat-label>
    <input matInput>
    </mat-form-field>
  </div>
  
  <mat-form-field appearance="fill">
    <mat-label>Comentario: </mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</ion-content>

